@model SalesWebMvc.Models.Seller
@{
    ViewData["Title"] = "Details";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h4>Seller</h4>
    <hr />
    <dl>
        <dt>
            @Html.DisplayNameFor(vendedor => vendedor.Name)
        </dt>
        <dd>
            @Html.DisplayFor(vendedor => vendedor.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(vendedor => vendedor.Email)
        </dt>
        <dd>
            @Html.DisplayFor(vendedor => vendedor.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(vendedor => vendedor.BirthDate)
        </dt>
        <dd>
            @Html.DisplayFor(vendedor => vendedor.BirthDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(vendedor => vendedor.BaseSalary)
        </dt>
        <dd>
            @Html.DisplayFor(vendedor => vendedor.BaseSalary)
        </dd>
        <dt>
            @Html.DisplayNameFor(vendedor => vendedor.Department)
        </dt>
        <dd>
            @Html.DisplayFor(vendedor => vendedor.Department.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-default">Alterar</a>
    <a asp-action="Index">Voltar para a lista</a>
</div>